<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
</head>
<body>
<h1>User list</h1>

<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> First Name </th>
        <th> Last Name </th>
        <th> Date Created </th>
        <th> E-mail </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.isEmpty()}">
        <td colspan="4"> No Users Available </td>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.id}"> </span></td>
        <td><span th:text="${user.firstName}"> First name </span></td>
        <td><span th:text="${user.lastName}"> Last Name </span></td>
        <td><span th:text="${user.dateCreated}"> Date created </span></td>
        <td><span th:text="${user.email}"> E-mail </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>